body {
  background-color: #727272;
}

#app-wrapper{
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#buttons-row{
  display: flex;
  flex-direction: row;
  padding: 1vh;
}

.button{
  cursor: pointer;
  padding: 0.5vh;
}